.profile__info {
  max-width: 336px;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  column-gap: 18px;
  row-gap: 8px;
}

@media screen and (max-width: 1200px){
  .profile__info {
    column-gap: 15px;
    row-gap: 13px;
  }
}

@media screen and (max-width: 1023px){
  .profile__info {
    column-gap: 10px;
    row-gap: 8px;
  }
}

@media screen and (max-width: 767px){
  .profile__info {
    column-gap: 10px;
    row-gap: 10px;
  }
}

